@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

body {
    width: 100%;
    height: 100vh;
}

/* ---------- LOGIN ---------- */

.login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login h1 {
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 4px;
}

.login h2 {
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.submit {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #6C8FB8;
    width: 400px;
    height: 250px;
    margin-top: 30px;
}

.submit input {
    width: 85%;
    height: 45px;
    margin-top: 4px;
    font-size: 20px;
    outline: none;
    padding: 0 5px;
    font-family: 'Roboto', sans-serif;
}

.submit button {
    width: 130px;
    height: 45px;
    background-color: #39385A;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
}

/* ---------- Quizzes List ---------- */
.quizzes-list {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

header {
    height: 80px;
    width: 100%;
    background-color: #6C8FB8;
    font-weight: 700;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.created-quizzes {
    display: grid;
    grid-template-rows: 220px;
    grid-template-columns: repeat(4, 180px);
    grid-auto-rows: 220px;
    gap: 20px;
    position: absolute;
    top: 120px;
}

.add-quiz {
    width: 100%;
    height: 100%;
    background-color: #6C8FB8;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: white;
    font-weight: 700;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.add-quiz img {
    width: 45px;
    color: white;
}

.quizz-card {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* ---------- Quizzes Creation Area ---------- */

.quizz-creation {
    padding-bottom: 60px;
    display: none;
    flex-direction: column;
    padding-top: 120px;
    justify-content: center;
    align-items: center;
}

.new-quizz, .new-quizz-results{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin-bottom: 60px;
}

.new-quizz button {
    background: none;
    outline: none;
}

.new-quizz button img, .new-quizz-results img {
    width: 40px;
}

.quizz-title-input {
    width: 100%;
    height: 50px;
    outline: none;
    margin-bottom: 8px;
    padding-left: 12px;
    border-radius: 10px;
    border: 1px solid lightgray;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.question-answers, .result-level {
    display: flex;
    flex-direction: column;
    background-color: #E3F0FE;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.question-answers span, .result-level span {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin-bottom: 12px;
}

.questions-container, .levels-container {
    width: 100%;
}

.question {
    outline: none;
    border: none;
    width: 100%;
    height: 38px;
    border-radius: 8px;
    padding-left: 8px;
    font-size: 14px;
    margin-bottom: 6px;
    font-family: 'Roboto', sans-serif;
}

.answers-images {
    display: grid;
    grid-template-rows: repeat(4, 38px);
    grid-template-columns: 285px 285px;
    gap: 4px 6px;
}

.answers-images input {
    outline: none;
    border: none;
    border-radius: 8px;
    padding-left: 8px;
    font-family: 'Roboto', sans-serif;
}

.correct {
    background-color: #D8F6D9;
}

.wrong {
    background-color: #FDD8D9;
}

.level-results-inputs {
    
    display: grid;
    grid-template-columns: 285px 285px;
    grid-template-rows: repeat(3, 38px) 76px;
    gap: 4px 6px;
    grid-template-areas: 
        "input1 input2"
        "input3 input3"
        "input4 input4"
        "input5 input5";
}

.min-percentage { grid-area: input1; font-family: 'Roboto', sans-serif; }
.max-percentage { grid-area: input2; font-family: 'Roboto', sans-serif;} 
.level-title { grid-area: input3; font-family: 'Roboto', sans-serif; }
.img-link { grid-area: input4; font-family: 'Roboto', sans-serif; }
.level-description { grid-area: input5; font-family: 'Roboto', sans-serif; }

.level-results-inputs input {
    outline: none;
    padding-left: 8px;
    border-radius: 8px;
    border: none;
}

.quizz-creation > button {
    width: 600px;
    height: 40px;
    background-color: #6C8FB8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px; 
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* ---------- Quizz Interface ---------- */
.quizz-interface {
    padding-top: 120px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quizz-interface > div, .quizz-end > div {
    width: 500px;
}

.quizz-interface h1, .quizz-end h1 {
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.quizz-question, .main-text {
    background-color: #6C8FB8;
    width: 100%;
    padding: 20px 30px;
    color: white;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
}

.answers-container {
    display: grid;
    grid-template-columns: 247px 247px;
    grid-template-rows: 160px 160px;
    gap: 6px;
}

.answer {
    border-radius: 10px;
    position: relative;
    border: 1px solid gray;
    cursor: pointer;
}

.answer-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #505050;
    padding-left: 12px;
    border-radius: 0 0 9px 9px;
}

/* ---------- End ---------- */
.quizz-end {
    padding-top: 120px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-message {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.message {
    width: 45%;
}

.message-title {
    color: #777777;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.message-text {
    color: #777777;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 400;
}

.result-message img {
    width: 45%;
    height: auto;
    object-fit: scale-down;
}